<div class="animated {{aClass}} chat">
	<div class="c-ban1 c-ban">
		<a href="#">
			<img src="img/c-ban1.png" alt="图片路径不正确！">
		</a>	
	</div>
	<div class="c-ban2 c-ban">
		<a href="#">
			<img src="img/c-ban2.png" alt="图片路径不正确！">
			<div>
				<p>社区<span>&nbsp;|&nbsp;峰峰鹿晗吴亦凡</span></p>	
			</div>
		</a>
	</div>
	<div class="c-msg">
			<dl>
				<dt>
					<span>信封</span>
				</dt>
				<dd>
					<h4>官方消息</h4>
					<time>2016-6-7</time>
					<p>唠叨的社区君：讲真，吴亦凡陈冠希</p>
				</dd>
			</dl>
			<dl>
				<dt>
					<span>信封</span>
				</dt>
				<dd>
					<h4>通知</h4>
					<time>昨天</time>
					<p>有新通知将在这里显示哦</p>
				</dd>
			</dl>
	</div>
</div>