<div class="animated {{aClass}}">
	<div class="swiper-container">
	    <div class="swiper-wrapper">
	        <div class="swiper-slide"><img src="img/f-ban1.png"></div>
	        <div class="swiper-slide"><img src="img/f-ban1.png"></div>
	        <div class="swiper-slide"><img src="img/f-ban1.png"></div>
	    </div>
	    <div class="swiper-pagination"></div>
	</div>
	<div class="g-test">
		<p>
			<span></span>
			严格质检
		</p>
		<p>
			<span></span>
			劣三赔一
		</p>
		<p>
			<span></span>
			达人测评
		</p>
		<p>
			<span></span>
			72小时发货
		</p>
	</div>
	<div class="g-box1">
		<div class="g-time">
			<p>14点快抢·距结束</p>
			<p><span>00</span>：<span>00</span>：<span>00</span></p>
			<p><span>MORE</span></p>
		</div>
		<div class="g-shop">
			<dl class="col-xs-3" ng-repeat="i in gShop">
				<dt>
					<img ng-src={{i.dlImg}} alt="图片路径不正确！">
				</dt>
				<dd>
					<p>{{i.p}}</p>
					<span>{{i.span}}</span>
				</dd>
			</dl>
		</div>
	</div>

	<div class="g-box2 row">
			<div class="g-left col-xs-5">
				<h3>全场三折起</h3>
				<p>夏末清仓底价促</p>
				<div><img src="img/h-pic7.png" alt="图片路径不正确！"></div>
			</div>

			<div class="g-right col-xs-7">
					<dl class="g-up">
						<dd>
							<h3>初秋好货精选</h3>
							<p>开学必备新品季</p>
						</dd>
						<dt>
							<img src="img/h-pic3.png" alt="图片路径不正确！">
						</dt>
					</dl>
				
					<dl class="g-up">
						<dd>
							<h3>日本内野制造</h3>
							<p>日系毛巾品质专场</p>
						</dd>
						<dt>
							<img src="img/h-pic6.png" alt="图片路径不正确！">
						</dt>
					</dl>
			</div>
	</div>

	<div class="g-box3">
		<div class="row">
			<a href="" ng-repeat="c in gCloth">
				<div class="gCloth">
					<div><img ng-src="{{c.img}}" alt="图片路径不正确！"></div>
					<span>{{c.span}}</span>
				</div>
			</a>
			<!-- <a href="">
				<div class="col-xs-3">
					<div><img src="img/home_pic1.png" alt="图片路径不正确！"></div>
					<span>衣服</span>
				</div>
			</a>
			<a href="">
				<div class="col-xs-3">
					<div><img src="img/home_pic1.png" alt="图片路径不正确！"></div>
					<span>衣服</span>
				</div>
			</a>
			<a href="">
				<div class="col-xs-3">
					<div><img src="img/home_pic1.png" alt="图片路径不正确！"></div>
					<span>衣服</span>
				</div>
			</a> -->
		</div>

		<!-- <div class="row">
			<a href="">
				<div class="col-xs-3">
					<div><img src="img/home_pic1.png" alt="图片路径不正确！"></div>
					<span>衣服</span>
				</div>
			</a>
			<a href="">
				<div class="col-xs-3">
					<div><img src="img/home_pic1.png" alt="图片路径不正确！"></div>
					<span>衣服</span>
				</div>
			</a>
			<a href="">
				<div class="col-xs-3">
					<div><img src="img/home_pic1.png" alt="图片路径不正确！"></div>
					<span>衣服</span>
				</div>
			</a>
			<a href="">
				<div class="col-xs-3">
					<div><img src="img/home_pic1.png" alt="图片路径不正确！"></div>
					<span>衣服</span>
				</div>
			</a>
		</div>
		
		<div class="row">
			<a href="">
				<div class="col-xs-3">
					<div><img src="img/home_pic1.png" alt="图片路径不正确！"></div>
					<span>衣服</span>
				</div>
			</a>
			<a href="">
				<div class="col-xs-3">
					<div><img src="img/home_pic1.png" alt="图片路径不正确！"></div>
					<span>衣服</span>
				</div>
			</a>
			<a href="">
				<div class="col-xs-3">
					<div><img src="img/home_pic1.png" alt="图片路径不正确！"></div>
					<span>衣服</span>
				</div>
			</a>
			<a href="">
				<div class="col-xs-3">
					<div><img src="img/home_pic1.png" alt="图片路径不正确！"></div>
					<span>衣服</span>
				</div>
			</a>
		</div> -->
	</div>
</div>