<div class="animated {{aClass}} home_wrap">
	<div class="swiper-container">
	    <div class="swiper-wrapper">
	        <div class="swiper-slide"><img src="img/images/banner_13.jpg"></div>
	        <div class="swiper-slide"><img src="img/images/banner_13.jpg"></div>
	        <div class="swiper-slide"><img src="img/images/banner_13.jpg"></div>
	    </div>
	    <div class="swiper-pagination"></div>
	</div>
	<div class="wrap">
		<a ui-sref="public.detail"><img src="img/images/pic1_16.jpg"></a>
		<a ui-sref="public.detail"><img src="img/images/pic3_18.png"></a>
		<a ui-sref="public.detail"><img src="img/images/pic2_19.jpg"></a>
		<a ui-sref="public.detail"><img src="img/images/pic4_23.jpg"></a>
		<a ui-sref="public.detail"><img src="img/images/pic5_24.jpg"></a>
		<a ui-sref="public.detail"><img src="img/images/6_03.jpg"></a>
		<a ui-sref="public.detail"><img src="img/images/7_05.jpg"></a>
		<a ui-sref="public.detail"><img src="img/images/2016-08-18_160128.png"></a>
		<a ui-sref="public.detail"><img src="img/images/2016-08-18_160210.png"></a>
		<a ui-sref="public.detail"><img src="img/images/2016-08-18_160323.png"></a>
	</div>
	<div class="home_alert_box">
		<ul>
			<li><a href="#">女士&nbsp;&nbsp;WOMAN</a></li>
			<li class="bg"><a href="#">男士&nbsp;&nbsp;MAN</a></li>
			<li><a href="#">生活&nbsp;&nbsp;LIFESTYLE</a></li>
			<li><a href="#">运动馆&nbsp;&nbsp;SPORTS</a></li>
		</ul>
		
		<p class="try"><span>试一下</span><small>看看能发现什么</small></p>	
	</div>
</div>
