<div class="animated  {{aClass}} myself">
	<div class="m-head">
		<a href="">
			<dl>
				<dt>
					<img src="img/home_peo1.png" alt="图片路径错误！">
				</dt>
				<dd>
					<h4>啦啦啦啦啦啦</h4>
					<p>粉丝<span>0</span></p>
					<p>
						<img src="img/m-jt.png" alt="图片路径错误！">
					</p>
				</dd>
			</dl>
		</a>
		<ul>
			<li><a href=""><span></span>关注</a></li>
			<li><a href=""><span></span>收藏</a></li>
			<li><a href=""><span></span>签到</a></li>
		</ul>
	</div>

	<div class="myorder">
		<div class="my">
			<h4>我的订单</h4>
			<span><img src="img/jt.png" alt="图片路径错误！"></span>
			
		</div>
		<div class="order">
			<div class="col-xs-3">
				<a href="">
					<div>
						<img src="img/m-pic1.png" alt="图片路径错误！">
					</div>
					<span>待付款</span>
				</a>
			</div>
			<div class="col-xs-3">
				<a href="">
					<div>
						<img src="img/m-pic2.png" alt="图片路径错误！">
					</div>
					<span>待收货</span>
				</a>
			</div>
			<div class="col-xs-3">
				<a href="">
					<div>
						<img src="img/m-pic3.png" alt="图片路径错误！">
					</div>
					<span>待评价</span>
				</a>
			</div>
			<div class="col-xs-3">
				<a href="">
					<div>
						<img src="img/m-pic4.png" alt="图片路径错误！">
					</div>
					<span>售后</span>
				</a>
			</div>
		</div>
	</div>

	
	<ul class="m-msg">
		<a href=""><li>购物车</li></a>
		<a href=""><li>我的钱包<span>分期商城，上线啦！</span></li></a>
		<a href=""><li>优惠券</li></a>
		<a href=""><li>魔豆商城<span>点击这里领取魔豆</span></li></a>
	</ul>
	
</div>