<div class="contain">
	<div class="header">
		<div class="s-back"></div>
		<h4>设置</h4>
	</div>
	<ul class="s_ul">
		<li>
			个人信息设置
		</li>
		<li>
			安全中心
		</li>
		<li>
			<p>发表同步到本地</p>
			<p><input type="checkbox" id="onoff1" class="onoff"><label for="onoff1" class="lab">开关按钮</label></p>
		</li>
		<li>
			<p>开启截屏分享功能</p>
			<p><input type="checkbox" id="onoff2" class="onoff"><label for="onoff2" class="lab">开关按钮</label></p>
		</li>
		<li>
			<p>开启动画提示</p>
			<p><input type="checkbox" id="onoff3" class="onoff"><label for="onoff3" class="lab">开关按钮</label></p>
		</li>
	</ul>
	<ol class="s_ol">
		<li>清除缓存<p>已使用<span>19.5</span>M</p></li>
		<li>帮助反馈</li>
		<li>关于蘑菇街</li>
	</ol>

	<div class="s_btn" ng-click="sExit()">
		<p>退出当前账号</p>
	</div>	
</div>
