<div class="s-con animated {{aClass}}">
	<div class="swiper-container">
	    <div class="swiper-wrapper">
	        <div class="swiper-slide"><img src="img/home_ban.png"></div>
	        <div class="swiper-slide"><img src="img/home_ban.png"></div>
	        <div class="swiper-slide"><img src="img/home_ban.png"></div>
	    </div>
	    <div class="swiper-pagination"></div>
	</div>
	<div class="container-fluid">
		<!-- require define底层原理是如何实现的 jsonp ajax-->
		<div class="s-box1 row">
			<div class="s-left col-xs-5">
				<h3>团购</h3>
				<p>万人疯抢，好货3折</p>
				<div><img src="img/home_peo5.png" alt="图片路径不正确！"></div>
			</div>

			<div class="s-right col-xs-7">
				<div class="s-up">
					<div class="col-xs-5">
						<h3>限时快抢</h3>
						<p>汇全网抢底价</p>
					</div>
					<div class="col-xs-7">
						<img src="img/home_tea.png" alt="图片路径不正确！">
					</div>
				</div>
				<div class="s-down">
					<div class="col-xs-6">
						<h3>尝鲜</h3>
						<p>汇全网抢底价</p>
						<img src="img/home_pic1.png" alt="图片路径不正确！">
					</div>
					<div class="col-xs-6">
						<h3>超值8块8</h3>
						<p>超值有好礼</p>
						<img src="img/home_pic2.png" alt="图片路径不正确！">
					</div>
				</div>
			</div>
		</div>
		
		<div class="s-box2 row">
			<div class="col-xs-3">
				<img src="img/home_peo1.png" alt="图片路径不正确！">
			</div>
			<div class="col-xs-3">
				<img src="img/home_peo2.png" alt="图片路径不正确！">
			</div>
			<div class="col-xs-3">
				<img src="img/home_peo3.png" alt="图片路径不正确！">
			</div>
			<div class="col-xs-3">
				<img src="img/home_peo4.png" alt="图片路径不正确！">
			</div>
		</div>
	</div>
</div>