@mixin pos($r:relative){
	position:$r;
}
@mixin flex($r:row){
	display:-webkit-flex;
	-webkit-flex-direction:$r;
}	
.loginPage{
	padding:0 1rem;
}
.header{
	background:#F9F9F9;
	border-bottom:1px solid #ccc;
}
.l-back{
	background:url(../img/l-jt.png) no-repeat;
	width:0.8rem;
	height:1.6rem;
	background-size:100% 100%;
	@include pos(absolute);
	left:1rem;
	top:1.2rem;
}
.signUp{
	@include pos(absolute);
	right:1rem;
	top:1.2rem;
}
.main{
	width:100%;
	padding:1rem;
	height:auto;
	background:#fff;
	padding-bottom:1rem;
	p{
		padding:1rem 0;	
	}
	ul li{
		width:100%;
		padding:1rem 0;
		input{
			width:100%;
			height:3rem;
			line-height:3rem;
			border:none;
			border-bottom:1px solid #ccc;
			outline:none;
		}
	}
}
.l_PicBox{
	width:100%;
	margin:1rem 0;
	p{
		color:#666;
		@include pos;
		span{
			@include pos(absolute);
			right:1rem;
			color:#FF567A;
		}
	}
}
.l_pic{
	width:100%;
	height:6rem;
	@include flex;
	img{
		-webkit-flex:1;
		margin-right:1rem;
	}
}
.l_login{
	width:100%;
	height:3rem;
	border:none;
	font-size:1.6rem;
	color:#fff;
	text-align:center;
	line-height:3rem;
}
.sub{
	background:#FF567A;	
}
.msub{
	background:#ccc;
}
.l_txt{
	margin-top:1.5rem;
	width:100%;
	height:1.5rem;
	@include flex;
	a{
		-webkit-flex:1;
		text-align:center;
		color:#666;
		border-right:1px solid #ccc;
	}
	a:last-child{
		border-right:none;
	}
}
.three_login{
	width:100%;
	margin-top:5rem;
	border-top:1px solid #999;
	@include pos;
	padding-bottom:10rem;
	p{
		width:12rem;
		color:#666;
		background:#fff;
		text-align:center;
		@include pos(absolute);
		left:50%;
		top:-1.8rem;
		margin-left:-6rem;
	}
	@include flex;
	dl{
		-webkit-flex:1;
		margin-top:2rem;
		dt{
			width:3rem;
			height:3rem;
			margin:1rem auto;
			img{
				width:100%;
				height:100%;
			}
		}
		dd{
			color:#666;
			margin:1rem auto;
			text-align:center;
		}
	}
}